.container {
  margin: 50px;
}

.Board {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  margin: 10px;
}

.Cell {
    background-color: gray;
    width: 25px;
    height: 25px;
    border: 1px solid #888;
    text-align:center;
}

.Cell.exposed {
  background-color: white;
}
